/* These are styles for demo page */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}


.container {
  width: 300px;
  margin: 0 auto;
}

.item {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 18px;
  text-align: center;
}